# -------------------------
# Python cache
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------
# Virtual environment
# -------------------------
venv/
env/
.venv/

# -------------------------
# Jupyter Notebook
# -------------------------
.ipynb_checkpoints/

# -------------------------
# VSCode
# -------------------------
.vscode/

# -------------------------
# OS files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Model weights (VERY IMPORTANT)
# -------------------------
*.pth
*.pt
*.h5

# -------------------------
# Dataset (VERY IMPORTANT)
# -------------------------
data/
datasets/
*.zip
*.tar
*.gz

# -------------------------
# Build / temp
# -------------------------
build/
dist/
*.egg-info/

# -------------------------
# Environment variables
# -------------------------
.env